@import '/styles/variables.scss';
.container {
    display: flex;
    background-color: $color--orange;
    padding-top: 1rem;
    position: relative;
    width: 100%;
    border-radius: 16px;
    color: #B77B46;
    
}




.tfeed{
   padding-left: 10rem;
}
.ffeed{
   float: right;
 }