@import '/styles/variables.scss';
.container {
    display: flex;
    background-color: $color--orange;
    padding-top: 1rem;
    position: relative;
    width: 100%;
    border-radius: 16px;
    color: #B77B46;
    justify-content: center;
}

.feed{
   margin: 1rem;
}

@media (max-width: 756px) {
    .container {
        display: block;
    }
}

