@import 'styles/variables.scss';

.CalendarBox {
    height: fit-content;
    width: 45vh;
    background-color: rgb(100, 100, 100);
}

.container {
    height: 100%;
    width: 45vh;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: space-between;
    // background-color: rgb(255, 255, 255);

    .title {
        background-color: $color--palaro--darkblue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: $h3FontSize;
        font-weight: $h2FontWeight;
    }

    .content {
        background-color: white;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}