@import 'styles/variables.scss';

.CalendarBox {
    height: 100%;
    width: 45vh;
    background-color: rgb(100, 100, 100);
}

.container {
    height: 100%;
    width: 45vh;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color--blue;

    .title {
        background-color: $color--palaro--darkblue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: $h4FontSize;
        font-weight: $h4FontWeight;
    }

    .content {
        height: 88%;
        color: black;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}

@media (max-width: 900px) {
    .calendar-container {
        display: block; 
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        margin-left: auto;
    }
}