@import '../../../../../styles/variables.scss';

.CalendarBox {
    height: fit-content;
    width: 45vh;
    background-color: rgb(100, 100, 100);
}

.container {
    height: 100%;
    width: 45vh;
    background-color: rgb(132, 148, 148);
}