@import 'styles/variables.scss';

.container {
    height: 100%;
    width: 25vw;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    background-color: $color--palaro--blue;

    .title {
        background-color: $color--blue;
        color: $color--palaro--purple;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.8rem;

        h1 {
            font-size: $h4FontSize;
            font-weight: $h2FontWeight;
        }
    }

    .content {
        height: 85%;
        background-color: white;
        color: black;
        display: flex;
        justify-content: top;
        padding: 1rem;
        flex-direction: column;

        .line {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 20px;
            text-align: center;
            padding: 1rem;
            border: 1px;
            font-size: $body2FontSize;
            font-weight: $h5FontWeight;
        }

        .line > div {
            background-color: white;
            padding: 10px;
          }
    }
}

@media (max-width: 900px) {
    .container {
        width: 100%;
    }
}