@import '../../../../../styles/variables.scss';

.CalendarBox {
    height: 80vh;
    width: 45vh;
    background-color: rgb(100, 100, 100);
}

.container {
    height: 80vh;
    width: 45vh;
    color: white;
    background-color: rgb(132, 148, 148);
}