@import 'styles/variables.scss';

.CalendarBox {
    height: 100%;
    width: 45vh;
    background-color: rgb(100, 100, 100);
}

.container {
    height: 100%;
    width: ;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color--palaro--blue;

    .title {
        background-color: $color--blue;
        color: $color--palaro--purple;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.8rem;
        font-size: $h4FontSize;
        font-weight: $h2FontWeight;
    }

    .content {
        height: 85%;
        background-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}