@import 'styles/variables.scss';

.container {
    height: 100%;
    width: 25vw;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    background-color: $color--palaro--blue;
    overflow: scroll;

    .title {
        background-color: $color--blue;
        color: $color--palaro--purple;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.8rem;

        h1 {
            font-size: $h4FontSize;
            font-weight: $h2FontWeight;
        }
    }

    .content {
        height: 85%;
        background-color: white;
        color: black;
        display: flex;
        justify-content: top;
        padding: 1rem;
        flex-direction: column;

        .line {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            padding: 1rem;
            border: 1px;
            font-size: $body2FontSize;
            font-weight: $h5FontWeight;
            border-bottom: 0.1rem solid rgb(210, 210, 210);
        }
    }
}

@media (max-width: 756px) {
    .container {
        width: 100%;

        .title {
            padding: 1rem;

            h1 {
                font-size: $bodyFontSize;
                font-weight: $h2FontWeight;
            }
        }

        .content {
            .line {
                font-size:0.5rem;
                font-weight: $h5FontWeight;
            }
        }
    }
}