@import 'styles/variables.scss';

.container {
    height: 100%;
    width: 25vw;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    background-color: $color--palaro--blue;

    .title {
        background-color: $color--blue;
        color: $color--palaro--purple;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.8rem;

        h1 {
            font-size: $h4FontSize;
            font-weight: $h2FontWeight;
        }
    }

    .content {
        height: 85%;
        background-color: white;
        color: rgb(255, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}

@media (max-width: 900px) {
    .container {
        width: 100%;
    }
}