@import 'styles/variables.scss';

.section {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color--palaro--darkblue;
}