@import 'styles/variables.scss';

.section {
    height: 20vh;
    width: 100%;
    display: flex;
    background-color: $color--palaro--darkblue;
    position: relative;
}

.footer-left {
    text-align: left;
    color: white;
    padding: 1.5rem 3rem;
    font-size: $bodyFontSize;
    width: 50%;

}

.footer-right {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: right;
    width: 50%;
    padding: 1.5rem 3rem;
    color: white;
    font-weight: $h1FontWeight;

    .img-wrapper {
        height: 10vh;
        width: 100%;
        position: relative;
    }

    .sysdev-logo {
        display: flex;
    }
}


