@import 'styles/variables.scss';

.section {
    height: 30vh;
    width: 100%;
    display: flex;
    background-color: $color--palaro--darkblue;
    position: relative;
}

.footer-left {
    text-align: left;
    color: white;
    padding: 1.5rem 3rem;
    font-size: $bodyFontSize;
    width: 50%;
    
    .icons-section {
        display:inline-block;
        flex-direction: column;
        padding: 1rem 0.5rem;
    }

}

.footer-right {
    text-align: right;
    align-content: right;
    width: 50%;
    padding: 1.5rem 3rem;
    color: white;
    font-weight: $h1FontWeight;
    display:inline-block;

    h2 {
        font-size: 1.5rem;
        font-weight: 900;
    }
    .img-container{
        display:flex;
        justify-content: flex-end;

        .img-wrapper {
            height: auto;
            width: 3rem;
            position: relative;
    
        }
    }

    

}

@media (max-width: 756px) {
    .section {
        height: fit-content;
    }
}



