@import '/styles/variables.scss';

.CalendarSection {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.calendar-container {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: aqua;
}