@import '/styles/variables.scss';

.section {
    display: flex;
    align-items: top;
    justify-content: center;
    background-image: url('/assets/calendar-bg-big.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.calendar-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

@media (max-width: 900px) {
    .section {
        display: block;
        height: fit-content;
    }
    .calendar-container {
        flex-direction: column;
    }
}

@media (max-width: 1300px) {
    .section {
        background-image: none;
    }
}
