@import '/styles/variables.scss';

.section {
    height: fit-content;
    width: 100%;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 46vh;
}

.grid-item {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 1s ease-in-out;

    h1{ 
        font-size: $h1FontSize;
        font-weight: $h1FontWeight;
        text-align: center;
    }

    // &:hover h1,
    // &:hover img {
    //     transition: opacity 0.7s;
    //     opacity: 0;
    // }
}

.one {
    grid-column: 1 / span 5;
    background-color: white;
    background-color: #010066;
    position: relative;
    
    .img_hover{
        display: none;
        animation: fade;
        animation-duration: 1s;
    }

    .img_wrapper {
        width: 100%;
        height: 100%;
        display: block;
    }

    &:hover .img_hover {
        width: 100%;
        height: 100%;
        display: block;
    }
    
}

.two {
    grid-column: 6 / -1;
    background-color: $color--blue;

    .text {
        position: absolute;
        text-align: center;

        h1 {
            font-size: $h1FontSize;
        }
        h4 {
            font-size: $bodyFontSize;
            font-weight: $bodyFontWeight;
        }
    }

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .video-container {
        height: 100%;
        width: 100%;
        display: none;
        animation: fade;
        animation-duration: 1s;
    }

    .h1-hover {
        display: none;
        position: absolute;
        font-size: $h2FontSize;
        font-weight: $h1FontWeight;
        animation: fade;
        animation-duration: 1s;
        text-align: center;
    }

    &:hover .text {
        display: none;
    }

    &:hover div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0713498a;
        height: 100%;
        width: 100%;
    }

}

.three {
    grid-column: 1 / span 5;
    background-color: $color--blue;
    
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // filter: grayscale(100%);
    }

    .video-container {
        height: 100%;
        width: 100%;
        // -webkit-filter: sepia(100%) hue-rotate(170deg) brightness(50%);
        // filter: sepia(100%) hue-rotate(170deg) brightness(50%);
    }

}

.four {
    grid-column: 6 / -1;
    background-color: $color--palaro--blue;

    transition: all 0s;

    .img_hover{
        display: none;
        animation: fade;
        animation-duration: 1s;
    }

    .img_wrapper {
        width: 100%;
        height: 100%;
    }

    &:hover .img_hover {
        width: 100%;
        height: 100%;
        display: block;
    }
}

//carousel
.carousel-container {
    position: relative;
    display: none;
    height: 100%;

    div {
        height: 30vh;

        .title {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0713498a;
            width: 100%;
        }

        .img-wrapper {
            // height: 80%;
            // width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;

            .logo-1 {
                position: relative;
                width: 50%;
            }

            .logo-2 {
                position: relative;
                width: 50%;
            }
        }
    }

    video {
        height: 100%;
        width: 100%;
        object-fit:cover;
        // filter: grayscale(100%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 756px) {
    .grid-container {
        display: none;
    }

    .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: $h3FontSize;
                font-weight: $h1FontWeight;
            }
            h5 {
                font-size: $captionFontSize;
                font-weight: $h5FontWeight;
                padding: 0 2rem;
            }
            p {
                font-size: $captionFontSize;
                font-weight: $h5FontWeight;
            }
        }
    }
}


@media (max-width: 1180px) {
    .grid-container {
        grid-auto-rows: 25vh;

        .grid-item {
            h1 {
                font-size: $h3FontSize;
                font-weight: $h1FontWeight;
            }
            .h1-hover {
                font-size: $h5FontSize;
                font-weight: $h1FontWeight;
            }
        }
    }
}