@import '/styles/variables.scss';

.section {
    height: fit-content;
    width: 100%;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 46vh;
}

.grid-item {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 1s ease-in-out;

    h1{ 
        font-size: $h1FontSize;
        font-weight: $h1FontWeight;
        text-align: center;
    }

    &:hover h1,
    &:hover img {
        transition: opacity 0.7s;
        opacity: 0;
    }
}

.one {
    grid-column: 1 / span 5;
    background-color: $color--palaro--blue;

    &:hover {
        background: url("../../../../public/one.jpg") no-repeat;
        background-position: center;
        background-size: cover;
    }

    .img_wrapper {
        width: 100%;
        height: 100%;
        transform: scale(0.85);
    }
    
}

.two {
    grid-column: 6 / -1;
    background-color: $color--blue;

    h1 {
        position: absolute;
    }

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .video-container {
        height: 100%;
        width: 100%;
        display: none;
        animation: fade;
        animation-duration: 1s;
    }

    .h1-hover {
        display: none;
        position: absolute;
        font-size: $h1FontSize;
        font-weight: $h1FontWeight;
        animation: fade;
        animation-duration: 1s;
    }

    &:hover h1 {
        display: none;
    }

    &:hover div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0713498a;
        height: 100%;
        width: 100%;
    }

}

.three {
    grid-column: 1 / span 5;
    background-color: $color--blue;
    
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // filter: grayscale(100%);
    }

    .video-container {
        height: 100%;
        width: 100%;
        // -webkit-filter: sepia(100%) hue-rotate(170deg) brightness(50%);
        // filter: sepia(100%) hue-rotate(170deg) brightness(50%);
    }

}

.four {
    grid-column: 6 / -1;
    background-color: $color--palaro--blue;

    transition: all 0s;

    &:hover {
        background: url("../../../../public/cheer-hover.png") no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }

    .img_wrapper {
        width: 100%;
        height: 100%;
    }
}

//carousel
.carousel-container {
    position: relative;
    display: none;
    height: 100%;

    div {
        height: 30vh;

        .title {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0713498a;
            width: 100%;
        }
    }

    video {
        height: 100%;
        width: 100%;
        object-fit:cover;
        // filter: grayscale(100%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .grid-container {
        display: none;
    }

    .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 1180px) {
    .grid-container {
        grid-auto-rows: 25vh;

        .grid-item {
            h1 {
                font-size: $h5FontSize;
                font-weight: $h5FontWeight;
            }
            .h1-hover {
                font-size: $h5FontSize;
                font-weight: $h5FontWeight;
            }
        }
    }
}