@import '/styles/variables.scss';

.header {
    background-color: $color--palaro--darkblue;
    width: 100%;
    z-index: 999;
}

.Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $color--palaro--blue;
    width: fit-content;
    height: fit-content;
    border-radius: 16px;
    padding: 4rem;
    margin: 2rem;
}

.Image-Container {
    width: 250px;
    height: 250px;
    border-style: solid;
    background-image: linear-gradient($color--orange, $color--skyblue);
    position: relative;
    border-radius: 10px;
   

}

.Text-Container { 
    margin-top: 2rem; // c patrick ani soy
    width: 350px;
    height: fit-content;
    padding: 2rem 0;
    color: white;
    text-align: center;
}

.Info-Name{
    font-size: $h4FontSize;
    font-weight: $h4FontWeight;
    padding-bottom: 1rem ;
    white-space: nowrap;
    
}

.Info-Pos{
    font-size: $h5FontSize;
    font-weight: $h5FontWeight;
    padding-bottom: 1rem;
    
}
.Info-Course{
    font-size: $bodyFontSize;
    font-weight: $bodyFontWeight;
    padding-bottom: 1rem;
}
.Icon-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .Icon-Section{
        display:inline-block;
        flex-direction: column;
        padding: 1rem 0.5rem;
        transition: transform 0.3s ease-out;

    }
    .Icon-Section:hover{
        display:inline-block;
        flex-direction: column;
        padding: 1rem 0.5rem;
        transform: translateY(-5px);

    }
}

@media (max-width: 756px) {
    .Container {
        width: 20rem !important;
        margin: 1rem 0;

        .Info-Name {
            font-size: 1.3rem;
            font-weight: $h2FontWeight;
        }
        .Info-Pos {
            font-size: 1rem;
        }
        .Info-Course {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 1102px) {
    .Container {
        width: 25rem;
    }
}