@import '/styles/variables.scss';

.header {
    background-color: $color--palaro--darkblue;
    width: 100%;
    z-index: 999;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 1rem 3rem;
    margin: auto;

    h1 {
        color: white;
        font-weight: 900;
        font-size: $h4FontSize;
    }
}
