@import '/styles/variables.scss';

.header {
    background-color: #FCAA61;
    z-index: 999;
    position: relative;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5rem;
    box-shadow: 10px 10px 1px #0e0e0e;
}

@media (max-width: 756px) {
   .navbar {
        h1 {
            font-size: $bodyFontSize;
        }
   }
}
