@import 'styles/variables.scss';

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        font-size: $h5FontSize;
    }
    h3 {
        font-size: $bodyFontSize;
    }
    h4 {
        font-size: $bodyFontSize;
    }
    p {
        font-size: $bodyFontSize;
    }
}

@media (min-height: 900px) {
    
}