@import 'styles/variables.scss';

.details {
    display: flex;
    flex-direction: column;
    border-top: 0.1px solid rgba(255, 255, 255, 0.459);
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.459);
    padding: 0.15rem 0;

    h2 {
        font-size: $h5FontSize;
        font-weight: $h3FontWeight;
    }
    h4 {
        font-size: 0.8rem;
        font-weight: $h5FontWeight;

    }
    p {
        font-size: 0.75rem;
        font-weight: $bodyFontWeight;
    }
}

@media (max-width: 756px) {
    .details {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 0.5rem;
        border-top: 0;

        h2 {
            font-size: 0.5rem !important;
            font-weight: bold !important;
        }
        h4 {
            font-size: 0.3rem !important;
        }
        p {
            font-size: 0.45rem;
        }
    }
}

@media (max-width: 500px){
    .details {
        h2 {
            font-size: 0.5rem !important;
            font-weight: bold !important;
        }
        h4 {
            text-align: left !important;
            font-size: 0.45rem !important;
        }
        p {
            font-size: 0.45rem;
        }
    }
}

@media (max-width: 1180px) {
    .details {
        
        h2 {
            font-size: 0.65rem;
        }
        h4 {
            font-size: 0.5rem;
        }
        p {
            font-size: 0.45rem;
        }
    }
}