@import 'styles/variables.scss';

.details {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: $h5FontSize;
    }
    h3 {
        font-size: $bodyFontSize;
    }
    h4 {
        font-size: $bodyFontSize;
    }
    p {
        font-size: $bodyFontSize;
    }
}

@media (max-height: 900px) {
    .details {
        transform: scale(0.5);
    }
}