@import 'styles/variables.scss';

.details {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: $h5FontSize;
    }
    h3 {
        font-size: $bodyFontSize;
    }
    h4 {
        font-size: $bodyFontSize;
    }
    p {
        font-size: $bodyFontSize;
    }
}

@media (max-width: 756px) {
    .details {
        align-items: center;
        justify-content: center;
        border-left: 1px solid $color--palaro--darkblue;
        text-align: justify;
        // padding: 1rem;

        h2 {
            font-size: 0.8rem;
        }
        h3 {
            font-size: 0.7rem;
        }
        h4 {
            font-size: 0.6rem;
        }
        p {
            font-size: 0.5rem;
        }
    }
}

@media (max-width: 1180px) {
    .details {
        h2 {
            font-size: 0.9rem;
        }
        h3 {
            font-size: 0.8rem;
        }
        h4 {
            font-size: 0.7rem;
        }
        p {
            font-size: 0.6rem;
        }
    }
}