@import 'styles/variables.scss';

.container {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .content {
        padding: 0 1rem;
        
        .no-events {
            font-size: $h5FontSize;
            font-weight: $bodyFontWeight;
            color: rgba(255, 255, 255, 0.767);
            text-align: center;
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 756px) {
    .container {
        
        .content {
            
            .no-events {
                font-size: $bodyFontSize;
            }
        }
    }
}