@import '/styles/variables.scss';

/* Extra small devices (phones, 600px and down) */
.Title{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
    color: $color--palaro--darkblue;
    z-index: 1;
    .img-wrapper{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
    }
    h3{
        z-index: 2;
        color: $color--white;
        position: absolute;
    }
    h1{
        z-index: 2;
        color: $color--white;
        position: absolute;
    }
}

.row-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &.one {
        background-image: url('/assets/sysdev-bg-orange.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &.two {
        background-image: url('/assets/sysdev-bg-star.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &.three {
        background-image: url('/assets/sysdev-bg-pink.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 600px) {
    .header {
        background-color: white;
        width: 100%;
        z-index: 999;
    }
    
    .Container {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Row{
        display: flex;
        width: fit-content;
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header {
        background-color: white;
        width: 100%;
        z-index: 999;
    }
    
    .Container {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Row{
        display: flex;
        width: fit-content;
        
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header {
        background-color: white;
        width: 100%;
        z-index: 999;
    }
    
    .Container {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Row{
        display: flex;
        width: fit-content;
        
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        background-color: white;
        width: 100%;
        z-index: 999;
    }
    
    .Container {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Row{
        display: flex;
        width: fit-content;
        
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        background-color: white;
        width: 100%;
        z-index: 999;
    }
    
    .Container {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Row{
        display: flex;
        width: fit-content;
        
    }

}



