@import 'styles/variables.scss';

.section {
    //height: 100vh;
    width: 100%;
    display: flex;
   // align-items: center;
    justify-content: center;
   // background-color: $color--palaro--darkblue;
   background-color: white;
   padding: 1.5rem;
}

@media (max-width: 756px) {
    .section {
        height: fit-content;
    }
}
