@import 'styles/variables.scss';

.section {
    background: linear-gradient(180deg, #F46B9C 0%, #FCDA63 100%);
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        .image_wrapper {
            align-self: flex-end;
            position: relative;
            bottom: -3.2rem;
            height: 740px;
            max-width:60rem;
            width: 100%;

            @media (max-width: 992px) {
                width: 308px;
            }

        }
        
        .socfeeds {
            flex-basis: 50%;
            position: relative;
            top: -0.5rem;
        }

        @media (max-width: 586px) {
            justify-content: center;

            .image_wrapper {
                display: none;
            }

            .socfeeds {
                display: flex;
                justify-content: center;
                min-width: 100%;
                top: -2rem;
            }
        }
    }

}
