@import 'styles/variables.scss';

.container {
    height: 100%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .title {
        &-Day1 {
            display: flex !important;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            border-radius: 1rem;
            background-color: $color--yellow;
            color: $color--darkyellow;

            h1 {
                font-size: $h4FontSize;
                font-weight: $h2FontWeight;
            }
        }
    
        &-Day2 {
            display: flex !important;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            border-radius: 1rem;
            background-color: $color--skyblue;
            color: $color--darkskyblue;

            h1 {
                font-size: $h4FontSize;
                font-weight: $h2FontWeight;
            }
        }
    
        &-Day3 {
            display: flex !important;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            border-radius: 1rem;
            background-color: $color--pink;
            color: $color--darkpink;
             
            h1 {
                font-size: $h4FontSize;
                font-weight: $h2FontWeight;
            }
        }
    }

    .content {

        &-Day1 {
            background-color: $color--yellow;
            color: $color--darkyellow;
            height: 85%;
            color: $color--darkyellow;
            display: flex;
            justify-content: top;
            padding: 0 1rem;
            flex-direction: column;
            overflow-y: scroll;
            border-radius: 1rem;

            .line {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 1rem;
                border: 1px;
                font-size: $body2FontSize;
                font-weight: $h5FontWeight;
                border-bottom: 1px solid $color--darkyellow;
                flex-wrap: wrap;
    
                .element {
                    padding: 0.3rem 0;
                    text-align: center;
    
                    h3 {
                        font-size: $bodyFontSize;
                        font-weight: $h2FontWeight;
                    }
                    h4 {
                        font-size: $body2FontSize;
                        font-weight: $h3FontWeight;
                    }
                    p {
                        font-size: 0.7rem;
                        font-weight: $h5FontWeight;
                    }
                }
            }
            
            &::-webkit-scrollbar-track {
                border: 1px solid #a8a8a8;
                // padding: 1px 0;
                background-color: #a8a8a8;
                border-radius: 1rem;
            }
            
            &::-webkit-scrollbar {
                width: 8px;
            }
            
            &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #777777;
            border: 1px solid #777777;
            }
        }

        &-Day2 {
            background-color: $color--skyblue;
            color: $color--darkskyblue;
            height: 85%;
            display: flex;
            justify-content: top;
            padding: 0 1rem;
            flex-direction: column;
            overflow-y: scroll;
            border-radius: 1rem;

            .line {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 1rem;
                border: 1px;
                font-size: $body2FontSize;
                font-weight: $h5FontWeight;
                border-bottom: 1px solid $color--darkskyblue;
                flex-wrap: wrap;
    
                .element {
                    padding: 0.3rem 0;
                    text-align: center;
    
                    h3 {
                        font-size: $bodyFontSize;
                        font-weight: $h2FontWeight;
                    }
                    h4 {
                        font-size: $body2FontSize;
                        font-weight: $h3FontWeight;
                    }
                    p {
                        font-size: 0.7rem;
                        font-weight: $h5FontWeight;
                    }
                }
            }
            
            &::-webkit-scrollbar-track {
                border: 1px solid #a8a8a8;
                // padding: 1px 0;
                background-color: #a8a8a8;
                border-radius: 1rem;
            }
            
            &::-webkit-scrollbar {
                width: 8px;
            }
            
            &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #777777;
            border: 1px solid #777777;
            }
        }

        &-Day3 {
            background-color: $color--pink;
            color: $color--darkpink;
            height: 85%;
            display: flex;
            justify-content: top;
            padding: 0 1rem;
            flex-direction: column;
            overflow-y: scroll;
            border-radius: 1rem;

            .line {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 1rem;
                border: 1px;
                font-size: $body2FontSize;
                font-weight: $h5FontWeight;
                border-bottom: 1px solid $color--darkpink;
                flex-wrap: wrap;
    
                .element {
                    padding: 0.3rem 0;
                    text-align: center;
    
                    h3 {
                        font-size: $bodyFontSize;
                        font-weight: $h2FontWeight;
                    }
                    h4 {
                        font-size: $body2FontSize;
                        font-weight: $h3FontWeight;
                    }
                    p {
                        font-size: 0.7rem;
                        font-weight: $h5FontWeight;
                    }
                }
            }
            
            &::-webkit-scrollbar-track {
                border: 1px solid #a8a8a8;
                // padding: 1px 0;
                background-color: #a8a8a8;
                border-radius: 1rem;
            }
            
            &::-webkit-scrollbar {
                width: 8px;
            }
            
            &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #777777;
            border: 1px solid #777777;
            }
        }
    }
}

@media (max-width: 900px) {
    .container {
        width: 100% !important;

        .title {
            padding: 1rem;

            h1 {
                font-size: $bodyFontSize;
                font-weight: $h2FontWeight;
            }
        }

        .content {
            overflow-y: hidden;

            .line {
                .element {
                    h3 {
                        font-size: 0.9rem;
                    }
                    h4 {
                        font-size: 0.85rem;
                    }
                    p {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1266px) {
    .container {
        width: 17rem;
        gap: 1rem
    }
}