@import '/styles/variables.scss';

.container{
   
    text-align: center;
    width: fit-content;
    border-style: solid;
}
.header{
    font-size: $h1FontSize;
    font-weight: $h1FontWeight;
}

.container-1{
    border-radius: 16px;
    background-color: white;
    width: fit-content;
    padding: 2rem;
    border-style: dashed;
  
    
}