@import '/styles/variables.scss';

.section {
    height: 49.5rem;
    width: 100%;
    background-color: white;
    background-image: url('/assets/Header-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 756px) {
    .grid-container {
        display: none;
    }

    .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: $h3FontSize;
                font-weight: $h1FontWeight;
            }
            h5 {
                font-size: $captionFontSize;
                font-weight: $h5FontWeight;
                padding: 0 2rem;
            }
            p {
                font-size: $captionFontSize;
                font-weight: $h5FontWeight;
            }
        }
    }
}

@media (max-width: 1180px) {
    .grid-container {
        grid-auto-rows: 25vh;

        .grid-item {
            h1 {
                font-size: $h3FontSize;
                font-weight: $h1FontWeight;
            }
            .h1-hover {
                font-size: $h5FontSize;
                font-weight: $h1FontWeight;
            }
        }
    }
}