@import '/styles/variables.scss';

.section {
    height: 45rem;
    width: 100%;
    background-image: linear-gradient(#8646E4, #4314AF);
    position: relative;

    .img_wrapper {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .title_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(#0000006e, #0c228383);

        .img_wrapper {
            height: 23rem;
            width: 100%;
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 756px) {
    .section {
        height: 30rem;
    
        .title_container {
    
            .img_wrapper {
                height: 15rem;
                width: 100%;
            }
        }
    }
}

@media (max-width: 1180px) {
}