@import '/styles/variables.scss';

.section {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(#8646E4, #4314AF);
    position: relative;

    .img_wrapper {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .title_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .img_wrapper {
            position: relative;
            bottom: 1.125rem;
            height: 19.75rem;
            width: 35.375rem;

        }
    }
}

@media (max-width: 450px) {
    .section {
        height: 30rem;
    
        .title_container {
    
            .img_wrapper {
                height: 11rem !important;
                bottom: 1rem;
            }
        }
    }
}

@media (max-width: 756px) {
    .section {
        height: 30rem;
    
        .title_container {
    
            .img_wrapper {
                height: 14rem;
                bottom: 0.5rem;
            }
        }
    }
}