@import '/styles/variables.scss';

.header {
    width: 100%;
    background-color: $color--blue;
    z-index: 999;
    position: relative;
    box-shadow: 5px 5px 10px #222222b0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5rem;
    height: 6.5rem;

    .fiesta_logo {
        position: relative;
        width: 10.875rem;
        height: 5.8rem;

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 756px) {
   .navbar {
        padding: 0.5rem;
   }
}
