@import '/styles/variables.scss';

.header {
    width: 100%;
    height: 6.5rem;
    background-color: $color--palaro--blue;
    z-index: 999;
    position: relative;
    box-shadow: 5px 5px 10px #222222b0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5rem;
    height: 6.5rem;
    justify-content: center;
    
    .fiesta_logo {
        position: relative;
        width: 10.875rem;
        height: 5.8rem;

        &:hover {
            position: relative;
            cursor: pointer;
        }
        &:active {
            transform: scale(1.5);

        }
    }
}

@media (max-width: 756px) {
   .navbar {
        padding: 0.5rem;
   }
}