@import 'styles/variables.scss';

.details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    height: fit-content;

    .lower {
        display: flex;
        // gap: 1rem;

        h4 {
            font-size: 0.8rem;
            font-weight: $h5FontWeight;
    
        }
        p {
            font-size: 0.8rem;
            font-weight: $h5FontWeight;
        }
    }

    h2 {
        font-size: $bodyFontSize;
        font-weight: $h2FontWeight;
    }
}

@media (max-width: 756px) {
    .details {
        
        h2 {
            font-size: 0.7rem;
        }
        .lower {
            h4 {
                font-size: 0.65rem;
            }
            p {
                font-size: 0.65rem;
            }
        }
    }
}

@media (max-width: 980px) {
    .details {
        
        h2 {
            text-align: center;
            font-size: 0.75rem;
        }
        
        .lower {
            display: flex;
            justify-content: center;
            h4 {
                font-size: 0.65rem;
            }
            p {
                font-size: 0.65rem;
            }
        }
    }
}