@import '/styles/variables.scss';

.TicketsButton {
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    padding: 0.6rem 1.5rem;

    transition: transform 0.1s ease-in-out;

    h1 {
       color: $color--palaro--darkblue; 
       font-weight: $h1FontWeight;
       font-size: $bodyFontSize;
    }

    &:hover h1 {
        color: $color--palaro--purple;
    }

    &:hover {
        transform: scale(102%);
    }
}

@media (max-width: 920px) {
    .TicketsButton {
        padding: 0.5rem 0.8rem;

        h1 {
            font-weight: $h1FontWeight;
            font-size: $captionFontSize;
        }
    }
}