@import '/styles/variables.scss';

.TicketsButton {
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    padding: 0.3rem 1rem;

    a {
       color: $color--palaro--darkblue; 
       font-weight: 900;
    }
}