@import 'styles/variables.scss';

.section {
    height: 18vh;
    width: 100%;
    display: flex;
    background-color: $color--pink;
    position: relative;
}

.footer-left {
    text-align: left;
    color: white;
    padding: 1.5rem 3rem;
    font-size: $bodyFontSize;
    width: 50%;

    .icons-container {
        display:flex;
        justify-content: flex-start;

        .icons-section-first{
            display:inline-block;
            flex-direction: column;
            padding-top: 1rem;
            padding-right: 0.5rem;
            position: relative;
            transition: transform 0.3s ease-out;
        }
        .icons-section-first:hover{
            display:inline-block;
            flex-direction: column;
            padding-top: 1rem;
            padding-right: 0.5rem;
            position: relative;
            transform: translateY(-5px);
        }
        .icons-section {
            display:inline-block;
            flex-direction: column;
            padding: 1rem 0.5rem;
            position: relative;
            transition: transform 0.3s ease-out;
        }
        .icons-section:hover {
            display:inline-block;
            flex-direction: column;
            padding: 1rem 0.5rem;
            position: relative;
            transform: translateY(-5px);

        }
    }


}

.footer-right {
    text-align: right;
    align-content: right;
    width: 50%;
    padding: 1.5rem 3rem;
    color: white;
    font-weight: $h1FontWeight;
    display:inline-block;

    h2 {
        font-size: 1.5rem;
        font-weight: 900;
    }
    .img-container{
        display:flex;
        justify-content: flex-end;

        .img-wrapper-1 {
            height: auto;
            width: 3rem;
            margin-right: 0.7rem;
            position: relative;


        }
        .img-wrapper-1:hover {
            height: auto;
            width: 3rem;
            margin-right: 0.7rem;
            position: relative;
            transform: rotate(360deg);
            transition: width 2s, height 2s, transform 2s;



        }

        .img-wrapper-2 {
            height: auto;
            width: 3rem;
            position: relative;
    
        }
    }

    

}

@media (max-width: 756px) {
    .section {
        height: fit-content;
    
        .footer-left{
            width: 100%;
            display: block;
            align-items: center;
            justify-content: center;
            .icons-container{
                justify-content: center;

            }
        }
        .footer-right{
            width: 0%;
            display: none;
            .img-container{
                display: none;

                .img-wrapper-1{
                    display: none;
                }
                .img-wrapper-2{
                    display: none;
                }
            }
        }
    }
}


