@import '/styles/variables.scss';

.TicketsButton {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;

    h1 {
        white-space: nowrap;
        color: $color--palaro--blue; 
        font-weight: $h1FontWeight;
        font-size: $h4FontSize;
    }
}

@media (max-width: 756px) {
    .TicketsButton {
        padding: 1rem 2rem;

        h1 {
            font-size: $h5FontSize;
            font-weight: $h1FontWeight;
        }
    }
}
