@import 'styles/variables.scss';

.container {

    .title {
        font-size: $h1FontSize;
        font-weight: $h1FontWeight;
        text-align: center;
    }
    
    .content {
        opacit
    }

    &:hover .title {
        display: none;
    }
        
    &:hover .content {
        display: block;
    }

}