@import 'styles/variables.scss';

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: display 1s ease;

    .content {
        display: none;
        padding: 1rem;
        animation: fade;
        animation-duration: 1s;
    }

    // &:hover h1 {
    //     display: none;
    // }
        
    // &:hover .content {
    //     display: block;
    // }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}