@import 'styles/variables.scss';

.container {
    height: 100%;

    .content {
        display: none;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // &:hover h1 {
    //     display: none;
    // }
        
    // &:hover .content {
    //     display: block;
    // }

}