@import 'styles/variables.scss';

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: #0713498a;

    .content {
        display: absolute;
        padding: 1rem;

        .title {
            font-size: $bodyFontSize;
            font-weight: $h1FontWeight;
            padding-bottom: 1rem;
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 756px) {
    .container {
        height: fit-content;
        
        .content {
            margin-top: 1rem;
            display: flex;
            overflow: hidden;
            
            // background-color: aqua;

            .title {
                writing-mode:sideways-lr;
                text-orientation: upright;
                font-size: $h5FontSize;
            }
        }
    }
}