@import 'styles/variables.scss';

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

    .content {
        display: none;
    }

    &:hover h1 {
        display: none;
    }
        
    &:hover .content {
        display: block;
    }

}