@import 'styles/variables.scss';

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: display 1s ease;
    background-color: aqua;

    .content {
        display: none;
        padding: 1rem;
        animation: fade;
        animation-duration: 1s;
    }

}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}