@import 'styles/variables.scss';

.container {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: #0713498a;

    .content {
        display: absolute;
        padding: 1rem;

        .title {
            font-size: $h3FontSize;
            font-weight: $h1FontWeight;
            padding-bottom: 1rem;
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 756px) {
    .container {
        margin-top: 0;

        .content {
            height: 100%;
            // margin-top: 1rem;
            display: flex;
            overflow: hidden;
            padding: 0 1rem;
            // background-color: aqua;

            .title {
                height: 100%;
                font-size: $bodyFontSize;
                padding: 0 1rem;
            }
        }
    }
}

@media (max-width: 1187px) {
    .container {
        
        .content {
            // margin-top: 1rem;
            align-items: center;
            justify-content: center;
            text-align: center;

            .title {
                display: flex;
                align-items: center;
                font-size: $body2FontSize;
            }
        }
    }
}