@import 'styles/variables.scss';

.container {

    .content {
        display: none;
    }

    &:hover h1 {
        display: none;
    }
        
    &:hover .content {
        display: block;
    }

}