@import 'styles/variables.scss';

.container {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: #0713498a;

    title {
        font-size: $h5FontSize;
        align-self: left;
    }

    .content {
        display: absolute;
        padding: 1rem;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}