@import 'styles/variables.scss';

.container {
    overflow-y: scroll;

    // &:hover h1 {
    //     display: none;
    // }
    
    div {
        display: none;
    }
        
    a:hover + div {
        display: block;
    }

}