@import '/styles/variables.scss';

.LandingPage {
    height: 100%;
    width: 100%;
    background-color: $color--palaro--blue;

    .float {
        position:fixed;
        width:10%;
        height:100%;
        bottom:40px;
        right:40px;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        margin: 1rem;
    }
}