@use "../../../styles/variables.scss" as *;

.LandingPage {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    height: 90vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 5fr 8fr;
    grid-row: auto;
  }
  
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgba(105, 95, 95, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: $h2FontSize;
    font-weight: 900;
    text-align: center;
}

.one {
    background-color: $color--palaro--blue;

    &:hover {
        background: url(https://img.freepik.com/free-photo/waist-up-portrait-happy-excited-young-smiling-man-shouting-hooray-yes-raising-hands-up-fist-pump-joy-rejoicing-win-achieve-goal-celebrate-victory-success-white-wall_176420-37419.jpg?t=st=1658830314~exp=1658830914~hmac=79c53b662b3df49d40f9f0833b2460148ad660d98c4209459321dbb555e3feaf&w=1060);
        background-position: center;
    }
}

.two {
    background-color: $color--blue;
}

.three {
    background-color: $color--blue;

}

.four {
    background-color: $color--palaro--blue;

}