@use "../../../styles/variables.scss" as *;

.LandingPage {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 7fr;
  }
  
.grid-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgba(105, 95, 95, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.8);
    // padding: 1rem;

    transition: all 1s ease-in-out;

    h1{ 
        font-size: $h1FontSize;
        font-weight: 900;
        text-align: center;
    }

    &:hover h1,
    &:hover img {
        transition: opacity 0.4s;
        opacity: 0;
    }
}

.one {
    background-color: $color--palaro--blue;

    &:hover {
        background: url("/one.jpg") no-repeat;
        background-position: center;
        background-size: cover;
    }

    h1 ::after {
        content: attr('Hello');
    }
}

.two {
    background-color: $color--blue;

    &:hover h1 {
        transition: opacity 5s ease-in-out;
        opacity: 1;
        display: none;
    }

    &:hover:before {
        transition: opacity 5s ease-in-out;
        opacity: 1;
        font-size: $h3FontSize;
        font-weight: 900;
        content: "74th Ateneo de Davao Fiesta";
    }

}

.three {
    background-color: $color--blue;

}

.four {
    background-color: $color--palaro--blue;

}

//
@media (max-width: 1000px) {
    .grid-container { grid-template-columns: 2fr; display: none;}
    .grid-item {border: 1px solid rgba(0, 0, 0, 0.8);}
}