@import '/styles/variables.scss';

.section {
    height: 15rem;
    width: 100%;
    background-color: #4F17B7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem 0;
    
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $h2FontSize;
            font-weight: $h1FontWeight;
            color: white;
            width: 50%;
            white-space: nowrap;
        }
        
        .divider {
            height: 9rem;
            width: 2px;
            margin: 0 1rem;
            background-color: #54CDFF;
        }
        
        .events {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            color: white;
            // white-space: nowrap;
        }
    }
}

@media (max-width: 795px) {
    .section {
        height: fit-content;
        padding: 2rem 0;

        .content {
            flex-direction: column;
            width: fit-content;

            .title {
                padding: 0 1rem;
                font-size: $h5FontSize !important;
                font-weight: $h1FontWeight;
                border-bottom: 2px solid #54CDFF;
                margin-bottom: 0.5rem;
            }

            .divider {
                display: none;
            }

            .events {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1138px) {
    .section {
        .content {

            .title {
                padding: 0 1rem;
                font-size: $h2FontSize;
                font-weight: $h1FontWeight;
                white-space: nowrap;
            }
            
            .events {
                padding: 0 1rem;
            }
        }
    }
}