@import '/styles/variables.scss';

.section {
    height: 15rem;
    width: 100%;
    background-color: #4F17B7;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0;
    
    .content {
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            padding: 0 5rem;
            font-size: $h2FontSize;
            font-weight: $h1FontWeight;
        }

        .divider {
            height: 9rem;
            width: 0.1rem;
            background-color: #54CDFF;
        }
        
        .events {
            padding: 0 5rem;
            font-size: $h2FontSize;
            font-weight: $h1FontWeight;
            overflow-y: scroll;
        }
    }
}

@media (max-width: 765px) {
    .section {

        .container {
            .content {

                .title {
                    padding: 2rem;
                    font-size: $h5FontSize;
                    font-weight: $h1FontWeight;
                    white-space: no-wrap;
                }
    
                .divider {
                    height: 100%;
                    width: 0.1rem;
                    // margin: auto;
                    background-color: #54CDFF;
                }
                
                .events {
                    padding: 0;
                    font-size: $h2FontSize;
                    font-weight: $h1FontWeight;
                }
            }
        }
    }
}
