@import '/styles/variables.scss';
.container {
    display: flex;
    flex-direction: row;
    background-color: $color--blue;
    color: white;
    margin: auto;
    width: 80%;
    border-radius: 16px;
    background-color: $color--blue;
    padding: 1rem;
}

.collumn{
    flex: 50%;
    width: 50%;
    padding: 0.625rem;

}

.TWT-Feed{
    flex: 50%;
    float: left;
    width: 50%;
    padding: 0.625rem;
    background-color: red;
    color: red;
}

.FB-Feed{
    flex: 50%;
    float: right;
    width: 50%;
    padding: 0.625rem;
}