/*COLORS*/
$color--green: #00FF54;
$color--palaro--blue: #010066;
$color--palaro--darkblue: #010A30;
$color--palaro--purple: #6675B9;
$color--blue: #071349;

/*FONT SIZES*/
$h1FontSize: 4.209rem;
$h2FontSize: 3.157rem;
$h3FontSize: 2.369rem;
$h4FontSize: 1.777rem;
$h5FontSize: 1.333rem;
$bodyFontSize: 1rem;
$body2FontSize: 0.75rem;
$captionFontSize: 0.563rem;
$caption2FontSize: 0.422rem;

/* FONT WEIGHT */
$h1FontWeight: 900;
$h2FontWeight: 700;
$h3FontWeight: 600;
$h4FontWeight: 600;
$h5FontWeight: 500;
$bodyFontWeight: 400;
$body2FontWeight: 400;
$captionFontWeight: 400;
$caption2FontWeight: 400;